@import "packages/bootstrap-less/lib/less/bootstrap.lessimport";

@redAlert : #ae1201;

html {
	font-size: 100%;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight:400;
	color: #FFF;
	background: #90b2c6;
	#gradient.vertical(#90b2c6, #dae4ea);
}

input[type=text], input[type=button] {
	.form-control();
	height: auto;
}

select, textarea {
	.form-control();
	height: auto;
	margin-bottom: 0.5em;
}

a {
	color:#CCC;

	&:hover {
		color:#CCC;
	}
}

.alert {
	color: @redAlert;
}

.input-group {
	.input-group-addon {
		padding: 0;
	}
	button {
		background: transparent;
		border: 0;
		border-radius: none;
		box-shadow: none;

		&:empty {
			width: 3em;
		}

		&:hover {
			color: #FFF;
		}
	}
}

.project-title {
	border-top: 4px solid #FFF;
	border-bottom: 4px solid #FFF;
	h1 {
		font-weight: 600;
		.make-xs-column(8);
		font-size: 5em;
		text-transform: uppercase;
		margin-top: 0.5em;
	}

	a.delete-project {
		float: right;
		font-size: 2em;
		margin-top: 1em;
		&:hover {
			text-decoration: none;
			color: #FFF;
		}
		&.glyphicon:empty {
			width: 1.75em;
		}
	}
}

.dashboard {
	border-bottom: 4px solid #FFF;
	.clearfix();
	padding-bottom: 2em;
	& > .row > div {
		.make-xs-column(6);

		&.all-utils {
			padding-left: 0;
		}
	}

	.charts {
		margin-top: 1em;
		& > div {
			width: 20em;
			background: #000;
			height: 44px;
			position: relative;
			display: block;
			margin: 1em 0;
			-webkit-border-radius: 5px;
			border-radius: 5px;
			border: 2px solid #FFF;

			& > div {
				height: 40px;
				overflow: hidden;
				-webkit-border-radius: 5px;
				border-radius: 5px;
				& > div {
					width:20em;
					height: 40px;
					background: #CCC;

					-webkit-border-radius: 5px;
					border-radius: 5px;
					#gradient.horizontal-three-colors(@redAlert, #f2b703, 50%, #01ae12);
				}
			}
		}
	}
}

h2 {
	font-weight: 400;
	text-transform: uppercase;
}

h3 {
	font-weight: 300;
	text-transform: uppercase;

	border-bottom: 1px solid #FFF;
}

ul {
		margin: 0;
		padding: 0;
		border-bottom: 1px solid #FFF;
		max-height: 10em;
		overflow: auto;
		li {
			list-style: none;
			display: block;
			width: 100%;
			padding: 1em;
			border-bottom: 1px solid #AAA;
			border-left: 4px solid transparent;
			.clearfix();
			

			a {
				.make-xs-column(1);
				&:first-child {
					.make-xs-column(8);
				}

				&:last-child {
					&:hover {
						text-decoration: none;
						color: #FFF;
					}
				}
			}

			span {
				.make-xs-column(2);	
				&.done {
					.make-xs-column(1);	
				}
			}

			&.selected {
				background: #222;

				a {
					font-weight: 600;
				}
			}

			&:last-child {
				border-bottom: 0;
			}

			&.done {
				border-left: 4px solid green;
			}
		}
	}

.row {
	margin: 0;
	padding: 1em;
}

.error {
	color: #FF0000;
}

.add-task-section, .add-utils-section, .add-subtask-section {
	display: none;
}

.container {
	background: transparent;

	.box-shadow( 0px 3px 10px 10px rgba(0, 0, 0, 0.2));

	#gradient.vertical();
	padding: 0;
	@media (max-width:@screen-sm-max) {
		width: 100%;
	}

	@media (max-width:@screen-md-max) {
		width: 95%;
	}
}

.projects {
	width: 100%;
	padding: 1em;
	background: #000;
	#gradient.vertical(#2e2e2e, #000);
	.clearfix();
	& > div {
		&:first-child {
			float: left;
		}

		&:last-child {
			.make-xs-column(5);
			float: right;

			.input-group {
				button {
				.glyphicon();
				.glyphicon-plus-sign();
				}
			}
		}
	}
}

.project-tasks {
	.add-task-section {
		padding: 1em;
	}
	.add-task {
		.glyphicon();
		.glyphicon-tasks();
	}
}

.time-labels {
	.clearfix();
	label {
		.make-xs-column(4);
		text-align: center;
		margin-right: 4em;
	}
}


.time-inputs {

	.clearfix();
	input {
		.make-xs-column(4);
		font-size: 4em;
		font-weight: 600;
		background: transparent;
		border: 1px solid #CCC;
		color: #FFF;
		text-align: center;
		margin-right: 1em;
	}
}

.subtasks {
	ul {
		margin: 0 1em;
		li {
			.clearfix();
			span {
				.make-xs-column(3);
			}

			p {
				.make-xs-column(7);
			}

			div.done {
				.make-xs-column(1);
			}

			a.delete {
				.make-xs-column(1);
			}

			&.done {
				span, p {
					text-decoration: line-through;
				}
				
			}
		}
	}
}

.task {
	.badge {
		background-color: @redAlert;
	}
}

.modal {
	color: #000;
}