<head>
  <title>manage-projects</title>
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600' rel='stylesheet' type='text/css'>
</head>

<body>
	<div class="container">
		{{getPage}}

		{{> content}}
	</div>
	{{> deletecontent}}
</body>

<template name="content">
	{{!-- Home --}}
	{{> projects}}

	{{!-- Project --}}
	{{#if currentPage 'project'}}
		{{> project}}
	{{/if}}
</template>

<template name="projects">
	<div class="projects">
		<div>
			<select class="projects-list">
				<option value="">Select a project</option>
				{{#each projectList}}
		      		<option value="{{this._id}}">{{this.name}}</option>
		    	{{/each}}
			</select>
		</div>
		<div>
			<div class="input-group">
				<input placeholder="New Project Name..." id="pr-name" class="form-control" type="text"/>
				<span class="input-group-addon">
					<button class="add btn btn-default"></button>
				</span>
			</div>
			<div>
				{{loginButtons align="right"}}
			</div>
		</div>
	</div>
</template>

<template name="deletecontent">
	<div class="modal fade" id="delete-modal" tabindex="-1">
	  <div class="modal-dialog">

	    <div class="modal-content">
	   	  {{#isolate}}
	  	  {{#with deleteModel}}
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h4 class="modal-title" id="myModalLabel">Delete a {{deleteType}}</h4>
	      </div>
	      <div class="modal-body">
	        Are you sure you want to delete the {{deleteType}}: {{this.name}}?
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	        <button type="button" class="btn btn-primary">Delete</button>
	      </div>
	      {{/with}}
	      {{/isolate}}
	    </div><!-- /.modal-content -->

	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
</template>