<template name="project">
	{{#with model}}
	<div class="row project-title">
		<h1>{{this.name}}</h1>
		<a href="#" class="glyphicon glyphicon-remove-circle delete-project" title="Delete Project"></a>
	</div>
	{{> dashboard}}
	{{/with}}
	{{> tasks}}

	{{!-- Task --}}
	{{#if currentSection 'task'}}
		{{> task}}
	{{/if}}

</template>

<template name="tasks">

	<div class="project-tasks">
		<div class="add-task-section">
			<div class="input-group">
				<input type="text" id="task-name" class="form-control" placeholder="New Task Name Here..."/>
				<span class="input-group-addon">
					<button class="add-task btn btn-default"></button>
				</span>
			</div>
		</div>
		<ul>
			{{#each taskList}}
				<li class="{{isSelected}} {{doneColor}}">
					<a href="/project/{{this.project}}/{{this._id}}">{{this.name}}</a>
					<span>{{timeHours}}/{{estimationHours}}</span>
					<span class="done">{{{taskDone}}}</span>
					<a href="#" title="Delete task" class="glyphicon glyphicon-remove-circle delete-task"></a>
				</li>
			{{/each}}
		</ul>
	</div>
</template>

<template name="task">
	<div class="task">
		{{#with model}}
			<div class="row">
				<h2>{{this.name}} <span class="badge" style="{{isTrakingBadge}}">Tracking now since {{getSince}} minutes...</span></h2>
				<div>
					<h3>time</h3>
					<div class="time-labels">
						<label for="time-estimation">Time Estimation:</label>
						<label for="time-spent">Time already spent:</label>
					</div>
					<div class="time-inputs">
						<input class="{{isValid}}" type="text" id="time-estimation" value="{{getEstimation}}"/>
						<input type="text" id="time-spent" value="{{getTime}}"/>
					</div>
				</div>
				<div>
					<h3>Utils</h3>
					<div class="add-utils-section">
						<label for="add-utils">Add utilities:</label>
						<textarea placeholder="Place util links, info, advise here" id="add-utils" class="form-control"></textarea>
						<input type="button" class="util-btn btn" value="Add Utility"/>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="utils">
					{{#each utilsList}}
						<p>{{{this}}}</p>
					{{/each}}
				</div>
			</div>
			{{> subtasks}}
			<div class="row">
				<input type="button" class="track-time btn" value="start tracking"/>
			</div>
		{{/with}}
	</div>
</template>

<template name="subtasks">
	<div class="subtasks">
		<div class="row">
			<h3>subTasks</h3>
			<div class="add-subtask-section">
				<label for="add-subtask">Add subTask:</label>
				<input placeholder="Sub-task name" type="text" id="add-subtask"/>
				<textarea placeholder="Sub-task description" id="subtask-descr"></textarea>
				<input type="button" class="subtask-btn" value="Add Sub-task"/>
			</div>
		</div>
		<ul>
			{{#each subtasksList}}
				<li class="{{doneCross}}">
					<span>{{this.name}}</span>
					<p>{{{this.longdescr}}}</p>
					<div class="done">
						{{{isDone}}}
					</div>
					<a href="#" title="Delete sub-task" class="glyphicon glyphicon-remove-circle delete-subtask"></a>
				</li>
			{{/each}}
		</ul>
	</div>
</template>